<!-- The views folder is the default template engine for express -->
<!-- <% include('partials/head.ejs') %> -->

<!DOCTYPE html>
<html lang="en">

<!-- RAW output tag -->
<%- include('partials/head.ejs'); %>

<body>

    <!-- ====================================================================================== -->

    <%- include('partials/nav'); %>

    <!-- ========================================================================================= -->
    <div class="section container">
        <h3 class="teal-text darker-2 center" id="info">INFORMACIÓN BREVE</h3>

        <p class="flow-text">
            ¡Hola mis amores! Aquí pueden hacer consultas personales llenando el formulario y luego yo me comunicaré con ustedes después de mirar tu caso. También podrás ver información de mis productos que pronto estaré vendiendo.
        </p>
    </div>

    <!-- Products -->
    <%- include('partials/products.ejs'); %>

    <!-- Form -->
    <h3 class="teal-text darker-2 center" id="info">FORMULARIO</h3>
    <%- include('partials/footer-form.ejs'); %>

    <!-- ====================================================================================== -->
    <%- include('partials/foot.ejs'); %>

    <script src="modal.js"></script>

</body>

</html>