<!-- The views folder is the default template engine for express -->
<!-- <% include('partials/head.ejs') %> -->

<!DOCTYPE html>
<html lang="en">

<!-- RAW output tag -->
<%- include('partials/head.ejs'); %>

<body>

    <!-- ====================================================================================== -->

    <%- include('partials/nav'); %>

    <!-- ========================================================================================= -->
    <div class="section container">
        <h3 class="teal-text darker-2 center" id="info">INFORMACION BREVE</h3>

        <p class="flow-text">
            Hola mis amores. Aqui pueden hacer consultas personales al llenar el formulario.
            Yo me comunicare con ustedes despues de mirar tu caso. 

            Aqui tambien podras ver informacion de mis productos y sitios webs donde puedes donar 
            para apoyar el canal. Tu ayuda siempre es bien recibida.

            Gracias otra vez y que Dioz te bendiga.
        </p>
    </div>

    <!-- Products -->
    <%- include('partials/products.ejs'); %>

    <!-- Form -->
    <h3 class="teal-text darker-2 center" id="info">FORMULARIO</h3>
    <%- include('partials/footer-form.ejs'); %>

    <!-- ====================================================================================== -->
    <%- include('partials/foot.ejs'); %>

    <script src="modal.js"></script>

</body>

</html>